.rockets-image {
  width: 400px;
  height: 250px;
  border-radius: 4px;
}

.rocket-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.button {
  width: 10rem;
}

@media (max-width: 768px) {
  .rocket-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
