.logo-img {
  width: 4rem;
  height: 4rem;
}

.link {
  text-decoration: none;
}

.link:active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #95bcf0;
}

.navbar-toggler-icon {
  background-color: black;
  filter: invert(100%);
}
