.logo {
  width: 3rem;
  height: 3rem;
}

.link {
  text-decoration: none;
}

.link:active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #95bcf0;
}

.navbar-toggler-icon {
  background-color: black;
  filter: invert(100%);
}

.mission-btn {
  /* border-left: 3px solid #95bcf0; */
  background-color: none;
}
